.vs/
bin/*.dll
bin/*.exe
bin/*.pdb
*/bin/Debug/
*/bin/Release/
*/obj/Debug/
*/obj/Release/
*/obj/x86/
*.dat
*.fat
*/*_unpack
/bin/projects/WDL/binary objects/classes
/bin/projects/WDL/binary objects/files
/bin
/generic_refs_missing_schemas
/scaffolded_schemas
/scripts/__pycache__
